*{
	padding: 0;
	margin: 0;
}
body {
	font: 12px/200% 'microsoft yahei','微软雅黑',Helvetica,Arial,Tahoma,"黑体",'宋体',sans-serif;
	color: #000;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*                                  头部样式                                                                                        */

.v30_head{
    height: 30px;
    background: #f2f2f2;
}
.v30_head dl{
    display: inline-block;
    color: #666;
}
.v30_head dl dt{
    line-height: 30px;
    height: 30px;
    width: 100%;
    position: relative;
}
.v30_head dl dt i{
    position: absolute;
    height: 12px;
    right: 0;
    top: 9px;
    border-left: 1px solid #dfdfdf;
    
}
.v30_head dl dt,.v30_head dl dd{
    display: inline-block;
    float: left;
    text-align: center;
}
.v30_head a{
	color: #666;
}
.v30_gohome_dl {
    width: 110px;
}
.v30_gohome_dl b {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url('../img/home.png') no-repeat center;
    position: absolute;
    left: 2px;
    top: 7px;
}
.v30_gohome_dl a {
    display: inline-block;
    margin-left: 7px;
}
.v30_gohome_dl a:hover {
    color: #c8a985;
}
.v30h_phone{
    padding-left: 6px;
}
.v30h_phone dt b{
    width: 25px;
    height:30px;
    display: inline-block;
    float: left;
    background: url('../img/brandstore_share.png') no-repeat -348px -338px;
}
.v30h_mobile{
    width: 106px;
    padding: 0 11px;
    position: absolute;
    right: 0;
    top: 0;
    z-index:33;
    cursor: pointer;
}
.v30h_mobile:hover{
    background: #fff;
}
.v30h_mobile dt{
    padding-left: 5px;
    background: url('../img/brandstore_share.png') no-repeat -218px -369px;
}
.v30h_mobile dt:hover{
    background: url('../img/brandstore_share.png') no-repeat -218px -404px;
     color: #c8a985;
}
.v30h_mobile dt span,.v30h_mobile dt i{
    float: left;
}
.v30hm_qr{
    width: 106px;
    text-align: center;
}
.v30hm_qr ul li{
    line-height: 20px;
    font-size: 13px;
}
.v30hm_qr ul li span{
     color: #b18044;
    font-size: 16px;
}
.v30h_expanded{
    box-shadow: 0px 2px 5px #999;
    -webkit-box-shadow:0px 2px 5px #999;
    -moz-box-shadow:0px 2px 5px #999;
}
.header_info_right {
    width: 604px;
    float: right;
    line-height: 30px;
    position: relative;
    vertical-align: middle;
}
.v30h_help{
    position: absolute;
    width: 85px;
    right: 130px;
    top: 0;
}
.v30h_help a:hover{
	color: #c8a985;
}
.v30h_myLf{
    width: 130px;
    position: absolute;
    right: 215px;
    top: 0;
    z-index: 150;
}
.v30h_show{
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 2px rgba(0,0,0,.2);
}
.v30h_myLf:hover{
    background: #fff;
}
.v30h_myLf dt{
    background: url('../img/brandstore_share.png') no-repeat -253px -436px;
}
.v30h_myLf dt:hover{
    background: url('../img/brandstore_share.png') no-repeat -253px -464px;
     color: #c8a985;
}
.v30h_myLf dt span{
    float: left;
    padding-left: 15px;
}
.v30h_myLf span:hover{
	color: #c8a985;
}
.v30h_myLf dd{
    width: 100%;
    background: #fff;
}
.v30h_myLf dd ul li{
    line-height: 30px;
    text-align: center;
}
.v30h_myLf dd ul li:hover{
     color: #c8a985;
}
.v30h_logbox{
    position: absolute;
    right: 350px;
    top:0;
    
}
.v30h_logbox ._randout{
    width: 88px;
}
.v30h_logbox ._randout_s{
	width:22px;
	height:24px;
	float:left;
	background:url('../img/youli.gif') no-repeat;
	margin:0 5px 0 17px;
}
.v30h_logbox ._randout a{
	float:right;
	margin-right:18px;
}
._randout a:hover{
	color: #c8a985;
}
.v30h_logbox ._nandlog{
    width: 100px;
}
._nandlog dt span{
    padding-right: 20px;
}
._nandlog dt span:hover{
     color: #db1d0b;
}


/*										头部中间部分										*/


.v30h_mid{
    background: #fff;
}
.v30hm_logo{
    position: absolute;
    top: 10px;
    left: 2px;
    width: 230px;
    height: 90px;
    top: 0;
    left: 0;
    width: 244px;
    height: 110px;
}
.v30hm_ad{
    position: absolute;
    top: 10px;
    left: 240px;
    top: 14px;
    left: 290px;
    width: 135px;
    width: 142px;
    height: 80px;
    overflow: hidden;
}
.v30hm_ad img{
    vertical-align: middle;
}
.v30hm_ad .imgList{
  width:142px;
  height:80px;
  z-index: 10;
}
.v30hm_ad .imgList li{
  display: none;
}
.v30hm_ad .imgList .imgOn{
	display: inline;
}
.v30hm_search {
    overflow: hidden;
    position: absolute;
    /*left: 380px;*/
    left: 485px;
    top: 36px;
}
.v30hm_search .in_con{
    width: 383px;
    padding: 2px 2px;
    background: #c69c6d;
    height: 34px;
}
.v30hm_search .search_input {
    outline: none;
    width: 410px;
    width: 300px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    border: none;
    background: #fff;
    padding-left: 3px;
    float: left;
}
.search_b{
    width: 86px;
    width: 80px;
    height: 34px;
    border: none;
    float: left;
    color: #fff;
    font-size: 15px;
    background: none;
}
.v30hm_cartbox .v30hmc_head{
    text-align: left;
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
    line-height: 20px;
}
.inc_adlist{
    clear:both;
}
.inc_adlist li{
    display: inline-block;
    float: left;
    color: #999;
    font-size: 11px;
    padding-right: 25px;
    line-height: 32px;
}
.inc_adlist li a:hover{
    color: #d00000;
}
.v30hm_cart{
    position: absolute;
    right: 10px;
    top: 35px;
    z-index:30;
}
.v30hm_cart dl{
    width: 290px;
    background: #fff;
    position: relative;
}
.v30hm_cart dl dt,.v30hm_cart dl dd{
    display: inline-block;
}
.v30hm_cart dl dt{
    width: 138px;
    height: 32px;
    line-height: 32px;
    text-indent: 45px;
    border: 1px solid #ccc;
    box-shadow:0 0 2px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 2px rgba(0,0,0,.2);
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
    position: relative;
    float: right;
    color: #666;
    background: url('../img/brandstore_share.png') no-repeat  -337px -405px;
}
.v30hm_cart dl dt img{
    position: absolute;
    left: 10px;
    top: 2px;
}
.v30hm_cart dl dd{
    clear: both;
    width: 268px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 2px rgba(0,0,0,.2);
    background-color: #fff;
}
.v30hm_cartbox ul{
    max-height: 335px;
    overflow-y: auto;
    overflow-x: hidden;
}
.v30hm_cart dl dt span{
    color: #d00000;
}
.v30hm_cart dl b{
    width: 138px;
    height: 3px;
    display: block;
    position: absolute;
    background: #fff;
    right: 1px;
    top: 32px;
    z-index: 1;
}
.v30hmc_box{
    padding: 15px 0;
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
}
.v30hmc_box .v30hmcb_i{
    margin-top: 5px;
    width:48px;
    height: 48px;
    border: 1px solid #c9c9c9;
    overflow: hidden;
    float: left;
}
.v30hmcb_i img{
    width: 48px;
}
.v30hmcb_l span{
    color: #d00000;
}
.v30hmc_box .v30hmcb_l{
    float: left;
    width: 180px;
    padding-left: 10px;
}
.v30hmcb_l li{
    text-align: left;
    line-height: 20px;
    height: 20px;
	width:190px;
}
.v30hmc_foot{
    height: 40px;
    background: #f2f2f2;
    text-align: left;
    line-height: 20px;
    padding: 10px 10px;
    position: relative;
}
.v30hmcf_gc{
    position: absolute;
    right: 10px;
    bottom: 10px;
}



/*                                      导航条                                                                                             */


.nav {
    width: 100%;
    height: 38px;
    background: url(../img/navi_1pxbg.png) repeat-x;
    vertical-align: middle;
    box-shadow: 0 4px 4px #c7c6c6;
    -o-box-shadow: 0 4px 4px #c7c6c6;
    -moz-box-shadow: 0 4px 4px #c7c6c6;
    -webkit-box-shadow: 0 4px 4px #c7c6c6;
}
.menu {
    clear: both;
    height: 40px;
    width: 1210px;
    margin: 0 auto;
    position: relative;
}
.menu > li {
    display: inline-block;
    float: left;
    z-index: 20;
    font-size: 14px;
    text-align: center;
    font-family: "微软雅黑";
    height: 40px;
    line-height: 40px;
}
li.type_5luxli a.type_5lux{
    width: 130px;
    background: url(../img/lux_index.png) -8px -215px no-repeat;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    color: #fff;
    display: inline-block;
	z-index:999;
}
.menu .menu_item .orderhead_type_5lux{
    height: 45px;
}
.menu_triangle{
    background: url(../img/lux_index.png) no-repeat -473px -170px;
    position: absolute;
    bottom: -5px;
    left: -7px;
    width: 7px;
    height: 7px;
}
.leftmenu {
    width: 130px;
    display: none;
    min-height: 585px;
    position: relative;
    z-index: 1000;
    vertical-align: top;
}
.leftmenu ul li {
    vertical-align: top;
    position: relative;
    width: 130px;
    z-index: 1000;
}

.nav_brand {
    background: url(../img/brand_category1.png) 15px no-repeat;
    background-position: -3px -5px;
}
.menu_show {
    width: 800px;
    background-color: #ffffff;
    position: absolute;
    left: 130px;
    top: 0px;
    min-height: 220px;
}
.showshop {
    background-color: #ffffff;
    min-width: 605px;
    max-width: 750px;
    border-bottom: #d7d7d7 1px solid;
    margin: 10px 0px 10px 20px;
    float: left;
    clear: both;
    overflow: hidden;
    line-height: 25px;
}
.menu_show h2 {
    float: left;
    color: #CF0201;
    width: 80px;
    padding-left: 25px;
    text-align: left;
    font-size: 14px;
    font-style: normal;
}
.menu_show h2 a {
    font-size: 14px;
    color: #CF0201;
}
.showbag {
    max-width: 500px;
    min-height: 25px;
    line-height: 25px;
    float: left;
    display: block;
}
.showbag a {
    color: #757272;
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
.showindex {
    float: left;
    padding-left: 25px;
    width: 590px;
    height: 70px;
}
.beauty{
    float:left;
}
.beautytop{

    border-bottom:#d7d7d7 1px solid;
    margin:10px 0px 0px 20px;
    float:left;
    line-height: 23px;
}
.beautytop a:hover,.showshop a:hover{ text-decoration: underline;}
.show{

    width:560px;
    float:left;
}
.show_part{

    float:left;

    width: 50%;
}
.showshop{
    background-color:#ffffff;
    min-width: 605px;
    max-width: 750px;
    border-bottom:#d7d7d7 1px solid;
    margin:10px 0px 10px 20px;
    float:left;
    clear:both; overflow:hidden;
    line-height: 25px;
}
.menu_show h2{
    float:left;
    color:#CF0201;
    width:105px;
    font-size: 14px;
    font-style: normal;
}
.menu_show h2 a{
    font-size: 14px;
        color:#CF0201;
}
.show_part h3{

     font-style: normal;

     text-align: left;
 }
 .show_part h3 a{
     color:#000;
     font-size: 12px;
 }

 .show_part ul{
         line-height: normal;
         text-align: left;
 }
.show_part ul li{
    padding-right:10px;
    display:inline;
    color:#999999;
    background:#fff;
    border:0px;
    line-height: 24px;
}
.show_part ul li a{
        color:#999999;
        font-size: 12px;
}
.leftmenu ul li .group {
    background-color: #fff;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    height: 36px;
    text-align: left;
    line-height: 36px;
    margin: 0 auto;
    position: relative;
    padding-left: 48px;
}
.leftmenu ul li .group i{
    position: absolute;
    right: 2px;
    top:0;
    height: 36px;
    width: 20px;
    display: none;
    background: url(../img/share02.png) no-repeat  -304px -33px;
}
.leftmenu ul li .group:hover{
    background-color: #fff;
}
.xiangbao {
    background: url(../img/brand_category1.png) 15px no-repeat;
    background-position: -3px -36px;
}
.meizhuang{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -68px;
}
.fuzhuang{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -100px;
}
.wanbiao{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -132px;
}
.xiexue{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -196px;
}
.peishi{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -165px;
}
.muying{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -228px;
}
.meijiu{
        background: url(../imgd/brand_category1.png) 15px no-repeat;
        background-position: -3px -261px;
}
.meishi{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -294px;
}
.jiaju{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -326px;
}
.dianzi{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -357px;
}
.bangong{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -390px;
}
.lipin{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -422px;
}
    .haiwai{
        background: url(../img/brand_category1.png) 15px no-repeat;
        background-position: -3px -458px;
}

.nav_brand:hover{
    background:url(../img/brand_category2.png) 15px  no-repeat;
                background-position:-3px -5px;
}
.xiangbao:hover{
    background:url(../imgr/brand_category2.png) 15px  no-repeat;
        background-position: -3px -36px;
}
.meizhuang:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -68px;
}
.fuzhuang:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -100px;
}
.wanbiao:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -132px;
}
.xiexue:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -196px;
}
.peishi:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -165px;
}
.muying:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -228px;
}
.meijiu:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -261px;
}
.meishi:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -294px;
}
.jiaju:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -326px;
}
.dianzi:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -357px;
}
.bangong:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -390px;
}
.lipin:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -422px;
}
.haiwai:hover{
        background:url(../img/brand_category2.png) 15px no-repeat;
        background-position: -3px -458px;
}
.showindex a {
    display: block;
    width: 115px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #cf0201;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.menu_a:link, .menu_a:visited {
    color: #c8a985;
}
.menu > li .cur {
    background: url(../img/nav_cur.png) no-repeat center top;
}
.menu .menu_a {
    display: block;
    /*padding: 0px 40px;*/
    width: 82px;
    height: 38px;
}
.menu .menu_a:hover{
    color: #fff;
}
.nv_findstore i{
    display: inline-block;
    float:left;
    width: 19px;
    height: 40px;
    line-height: 40px;
    background: url(../img/share02.png) no-repeat  -58px -169px;
    margin-left: 23px;
}
.nv_findstore span{
    display: inline-block;
    float:left;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.v30_nvbox .icon_Wrap {
    position: absolute;
    right:15px;
    top:0;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
	z-index:10;
}
.v30_nvbox .icon_Wrap li {
    
    float: left;
    margin-right: 12px;
    width: 30px;
    overflow: hidden;
    
    
}
.v30_nvbox .icon_Wrap .divlist {
    width: 200px;
    overflow: hidden;
}
.v30_nvbox .icon_Wrap span {
    
    display: inline-block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 3px;
}
.v30_nvbox .icon_Wrap b {
    font-weight: 400;
    float: left;
    color: #fff;
}
.v30_nvbox .icon_Wrap .divlist a {
    height: 40px;
    display: inline-block;
}
.divlist01 span{
    background: url(../img/share02.png) no-repeat  -237px -66px;
}
.divlist02 span{
    background: url(../img/share02.png) no-repeat  -296px -66px;
}
.divlist03 span{
    background: url(../img/share02.png) no-repeat  -354px -66px;
}

/********                底部公共样式                                 ******/

#footer_message_bg{
    background: url(../img/footer_message_bg.jpg) center;
    border-top: 1px solid #c9c9c9;
}
#footer_message{
    width: 1210px;
    height: 600px;
    margin: 0 auto;
}
#footer_message a{
    color: #333;
    font-size: 12px;
}
#footer_message a:hover{
    text-decoration: underline;
} 
#footer_message .footer_message_top{
    height: 116px;
    border-bottom: 1px solid #c9c9c9;
    clear: both;
}
.footer_message_top li{
    width: 242px;
    height: 64px;
    float: left;
    margin-top: 26px;
}
.footer_message_top img{
    width: 64px;
    height: 64px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    cursor: pointer;
    vertical-align: top;
    float: left;
}
.footer_message_top01_r{
    display: inline-block;
    float: left;
    width: 160px;
    height: 48px;
    margin-top: 8px;
}
.footer_message_top01_r .p1{
    font-weight: bold;
}
#footer_message .footer_message_ctr{
    height: 283px;
    clear: both;
}
.footer_message_ctr_l{
    float: left;
}
.footer_message_ctr_l li{
    width: 185px;
    overflow: hidden;
    float: left;
}
.footer_message_ctr_l span{
    display: block;
}
.footer_message_ctr_l .sp01{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
}
.footer_message_ctr_l a:hover{
    text-decoration: underline;
}
.footer_message_ctr_l .pht_app{
    width: 140px;
    height: 283px;
}
.pht_app img{
    display: block;
    width: 80px;
    height: 80px;
    vertical-align: top;
}
.footer_message_ctr_l .pht_weibo{
    width: 125px;
    height: 283px;
}
.pht_weibo img{
    display: block;
    width: 80px;
    height: 80px;
    vertical-align: top;
}
#footer_message .footer_message_btm a{
    color: #fff;
}
#footer_message .footer_message_btm{
    text-align: center;
    color: #fff;
}
.footer_message_btm_t{
    line-height: 66px;
}
.footer_message_btm_b{
    margin-top: 23px;
}
.footer_message_btm_b img{
    width: 108px;
    height: 40px;
    vertical-align: top;
}



/*                            登录                                    */


/*.footer_m{background-color: #fff;}
.login{width: 1000px;height: 565px; margin: 20px auto 0;background: #f7f3f2; overflow: hidden;}
.login_left {width: 500px;height:565px; float: left;padding-left: 25px;background: url('/vendor/images/5lux/ucenter_left_bg.jpg') no-repeat}
.login_title{width: 100%;height: 25px;padding-top: 75px;}
.login_title h2{width: 380px; text-align: center; font-size: 24px;color: #6a6a6a}
.login_main {}
.login_form{ padding: 10px 0 0 10px; }
.login_form li,.colorgin_form li{line-height: 25px;margin-bottom: 10px;overflow: hidden;zoom: 1;}
.login_form li label ,.colorgin_form li label{float: left;display: block;width: 65px;text-align: right;padding-right: 10px;_width: 60px;}
.log_btn_box,.reg_btn_box{padding: 18px 0 0 0;overflow: hidden;zoom: 1;text-align: left;}
.log_btn {float: left;}
.login_right {width: 470px;height: 500px; float: right; padding-top:50px;}
.login_right p {font-size: 13px;text-align: left;}
.log_side_btn {margin: 0 auto;height: 45px; background-position: center;margin-bottom: 50px;}
.login_right ul li{width: 470px;margin: 10px 0px;}
.reg_form {}
.reg_cont {padding: 16px 0 20px 0;}
.reg_cont .reg_cont_titl {margin-bottom: 15px;overflow: hidden;width: 100%;}
.reg_cont .reg_method{float:left;_display:inline;border-bottom:#838383 solid 1px;}
.reg_cont .reg_method span{display:inline-block;float:left;line-height:23px;text-align:center;padding:0 20px;}
.reg_cont .reg_method a{display:block;}
.reg_cont .reg_method a:link, .reg_cont .reg_method a:visited{color:#838383;text-decoration:none;}
.reg_cont .reg_method .reg_method_now{color:#2a2a2a;border-bottom:#d33031 solid 2px;}
.reg_info li{line-height:25px;margin-top:10px;overflow:hidden;zoom:1;*+margin-top: 5px;}
.reg_info li label{float:left;display:block;width:105px;text-align:right;padding-right:10px;}
.reg_info li .reg_ver{overflow:hidden;width:300px;}
.reg_info li .reg_ver img{display:block;margin-bottom:5px;}
.reg_info li .reg_ver a{display:block;float:right;color:#5858ff;}

.input180 {float: left;margin: 0 3px 0 0;_margin-right: 0;}
.input180 input {border: #000 solid 1px;width: 190px;height: 22px;line-height: 22px;margin-right: 3px; }

.input180r {float: left;margin: 0 3px 0 0;_margin-right: 0;}
.input180r input {border: #000 solid 1px;width: 190px;height: 22px;line-height: 22px;margin-right: 3px; display: block;}

.msg_tips {display: inline-block;font-size: 12px;color: #666;line-height: 15px;vertical-align: middle;width: 150px;}
/*.msg_warning {display: inline-block;font-size: 12px;color: #f00;line-height: 15px;vertical-align: middle;width: 150px;}*/
/*.msg_warning {display: inline-block;font-size: 12px;color: #f00;line-height: 28px;vertical-align: middle;width: 150px;}

.reg_btn { margin: 10px 0 0 115px;*+margin: 0px 0 0 115px;}

.checkcodebox input, .cologin_existed input, .cologin_new_cont input {border: #000 solid 1px;height: 22px;line-height: 22px;width: 149px;margin-right: 41px;}
#recaptcha_image{margin-left: 65px;}


.log_btn_box a:link, .log_btn_box a:visited {color: #0434be;}
.log_btn_box a {display: inline-block;font-size: 12px;margin-left: 10px;margin-top: 5px;}
.reg_btn_box a:link, .log_btn_box a:visited,.reg_btn_box a:visited {color: #0434be;}
.reg_btn_box span {display: inline-block; font-size: 12px;float: left;margin-left: 10px;margin-top: 5px;}
.log_btn_box span {display: inline-block; font-size: 12px;margin-left: 10px;_margin-top: 5px;}
.log_btn_box input.all_bigBtn{padding:0px 20px;}
.reg_btn_box a {display: block; font-size: 12px;float: left;margin-top: 5px;}
.reg_btn_box input{float: left;}*/

/*联合登陆*/
/*.cologin {margin-left: 80px; margin-top: 40px; }
.cologin ul{overflow: hidden;width: 290px;}
.cologin ul li{width: 124px;float: left;height: 28px;display: inline-block;margin: 6px 10px;}
.reg_success {overflow: hidden;padding: 60px 0 50px; font-family: "微软雅黑";}
.reg_success h1 {font-size: 28px; text-align: center;color: #db6567;font-weight: normal;margin-bottom: 30px;}
.reg_success p {text-align: center;color: #535353; font-size:14px;}
.reg_success .reg_success_shopping:link, .reg_success .reg_success_shopping:visited {background-color: #cf0201; color: #fff; padding: 10px 95px; display: inline-block; margin: 0 auto; text-align: center; margin-top: 65px;}
.reg_success_tips {margin-top: 30px; margin-bottom:10px;}
.reg_success_tips p {color: #222325;}
.reg_success_tips p a{text-decoration:underline; color:#a67135;}
.reg_success_good{height:400px;}

.sms_code {color: #000;font-size: 12px;line-height: 20px;padding: 2px 5px;display: inline-block;cursor: pointer;background: #ccc;}*/

/*邀请好友*/
/*
.cologin_box{background-color: #e9e9e9;padding: 20px 0px;}
.cologin_item{ margin-top:2px;}
.colorgin_title{padding:0px 0px 0px 95px;}
.colorgin_form{ padding:35px 0px 10px 120px;}
.colorgin_form ul li p,.login_form ul li p{clear: both;padding-left: 80px;color:#535252;}
.red_btn_box{margin: 10px 0 0 72px;overflow: hidden;zoom: 1;}
.colorgin_regform{padding:15px 0px 0px 120px;}
.find_yzm{ width: 100px;float: left;margin:4px 4px;*+margin:2px 0px;}
.colorgin_title a:hover{color:red;}*/


/*密码重置*/
/*
#resetpass_con{width: 730px;margin:0 auto;}
.reset_pass{font-size: 16px;padding:25px 0px;color:#f00;}
.reset_form{margin-left:150px; overflow: hidden; text-align: center; }
.reset_form li{line-height: 25px;margin-bottom: 10px;overflow: hidden;zoom: 1; }
.reset_form li label{float: left;display: block;width: 100px;text-align: right;padding-right: 10px;}
.reset_btn_area{ padding-left: 114px;}
.reset_form ul li p{clear: both;color:#535252; text-align: left;padding-left: 114px;}
.reset_text_con{padding: 80px 0px 60px 230px;}
.reset_text{display: inline-block; height:28px; position: relative; overflow: hidden;zoom:1;}
.reset_text b{display: inline-block; width: 31px;height:28px; position: absolute;top: 0px;left:0px; float: left;}
.reset_text span{display: inline-block; float: left;padding-left: 40px;}
.rsuc_login{width: 260px;margin:0 auto;overflow: hidden;zoom: 1;}
.rsuc_login_btn{width: 190px;float: left;}
.rsuc_login_text{display: inline-block;float: left; height: 40px; line-height: 40px; vertical-align: middle;}
.rsuc_login_text a{color:blue;}
.rsuc_login_text a:hover{color:#d00000;}
.reset_text_con2{padding: 80px 0px 60px 158px;}*/



.header_con {
	width: 100%; 
	height: 100px;
	overflow: hidden; 
	zoom: 1; 
	text-align: center;
	}
.register_header{
	width: 1000px; 
	overflow: hidden; 
	zoom: 1; 
	margin: 10px auto 0px auto;
	position: relative;
	}
.register_header .logo{
	line-height: 82px;
	}
.register_header .logo .register_headlogo_title{
	font-family:Helvetica,黑体;
	font-size: 18px;
	color: #949292;
	float: left;
	padding-left: 10px;
	}
.register_header .logo img{
	float:left;
	}
.register_header_phone{
	position:absolute;
	right: 0;bottom: 0px;
	line-height: 27px; 
	height: 27px;}
.register_header_phone span{
	font-family:Helvetica,黑体;
	font-size: 15px;
	color: #000;
	margin-top: -10px;
	}
.register{
	background-color: #ecebe7; 
	overflow: hidden; 
	zoom:1; 
	margin: 0 auto; 
	}
.register_content{
	width: 1000px; 
	margin: 0 auto;
	position:relative;
	}
.register_left{
	width: 705px; 
	height: 680px; 
	position:absolute;
	z-index:5;
	top:0;
	}
.register_right{
	width:450px; 
	background-color: #fff; 
	float: right; 
	margin-top: 47px; 
	margin-left: 10px;
    -webkit-box-shadow: #afabab 0px 0px 8px;
    -moz-box-shadow: #afabab 0px 0px 8px;
    box-shadow: #afabab 0px 0px 8px;
    }
.register_box{
	width:300px;
	margin: 45px auto;
	text-align: left;
	}
.register_box ul{
	display: block; 
	position:relative;
	}
.clear_h32{
    height: 32px;
    line-height: 32px;
    clear: both;
    float: none;
}
.re_con_title{ 
	width: 100%;
	padding-bottom: 12px;
	text-align: left; 
	overflow: hidden;
	color: #6d6d6d;
	font-size: 15px; 
	border-bottom: #ccc solid 1px;
	}
.login_con{
    height: 64px;
    padding-left: 25px; 
    padding-left:0px;
    }
.login_con input{
	width:250px; 
	height: 32px; 
	line-height: 32px;
	vertical-align: middle; 
	border: 1px solid #ccc;
	}
.reg_input_user_bg{
    background: url(../img/login_reg_input_user_bg.jpg) no-repeat;
    text-indent: 2.8em;
}
.reg_input_pw_bg{
    background: url(../img/login_reg_input_pw_bg.jpg) no-repeat;
    text-indent: 2.8em;
}
.jizhu{
	padding-left: 25px;
	margin-top: 5px; 
	margin-bottom: 10px; 
	display: inline-block;
	}
.jizhu input{
	float: left;  
	margin-top: 5px; 
	margin-right: 5px;
	}
.jizhu span{
	float: left;
	}
.jizhu a{
	color: #a78668; 
	text-decoration: underline; 
	margin-left: 45px;
	}
.reg_btn_wrap{
     padding-left: 25px;
     margin-top: 10px;
}
.login_btn{
	display: inline;
	width:250px; 
	margin: 0 auto; 
	height: 30px; 
	line-height: 30px; 
	vertical-align: middle; 
	color: #fff; 
	font-size: 16px; 
	border: 0px; 
	overflow: hidden; 
	background-color:#cf0101;
	}
.login_re{ 
	text-align: right; 
	padding-top: 20px; 
	padding-bottom: 20px; 
	padding-right: 25px; 
	border-bottom: #ccc solid 1px;
	}
.login_re a{
	text-decoration: underline; 
	color:#a78668; 
	margin-left: 10px;
	}
.login_hezuo{
	padding-top: 20px;
	text-align: center;
	}
.login_hezuo p{
	float: left; 
	padding-left: 25px;
	}
.re_method span{
	padding:3px 5px;
	}
.re_method_now{
	background-color:#000; 
	color: #fff; 
	}
.re_title_way{ 
    width: 100%;
    text-align: center; 
    overflow: hidden;
    color: #6d6d6d;
    font-size: 15px;
    border-bottom: #ccc solid 1px;
    text-align: center;
    font-family:Helvetica,黑体;font-size: 12px;color: #7b7c7c;
}
.re_title_way span{
	height: 25px;
	line-height: 25px;
	padding:2px 20px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px; 
	position:absolute; 
	left:0; 
	top:-30px;}
.re_con{
    padding-left: 2px;
    height:64px;
}
.re_spa{
	margin-top:30px;
	}
.re_bot{
	padding-bottom: 20px;
	}
.re_con input{
	width:210px; 
	height: 32px; 
	line-height: 32px; 
	vertical-align:middle; 
	float: left;
	border: 1px solid #ccc;
	}
.register_box li label{
	 width:72px; 
	 float: left; 
	 text-align: right; 
	 line-height: 32px; 
	 height: 32px; 
	 vertical-align: middle;
	 }
.tongyi{
	margin-left: 62px; 
	_margin-left:50px; 
	margin-bottom: 20px;
	}

.register_btn{
	width: 210px;
	 display: inline; 
	 margin-left: 72px;
	  height: 30px; 
	  line-height: 30px; 
	  vertical-align: middle; 
	  color: #fff; 
	  font-size: 16px; 
	  border: 0px; 
	  cursor: pointer; 
	  overflow: hidden; 
	  background-color:#cf0101; 
	  }
.re_login{ 
	text-align: right; 
	padding-top: 5px; 
	padding-bottom: 20px;
	 padding-right: 50px; 
	 border-bottom: #ccc solid 1px;
	 }
.re_login a{
	text-decoration: underline;
	color: #a78668}
.re_tishi{
	padding-top: 30px; 
	padding-bottom: 10px; 
	text-align: center}
.re_tishi span{color: red;}

.re_con1{
	padding: 10px 0px;
	 height: 25px;}
.re_con1 input{
	width:200px; 
	height: 25px; 
	float: left;}

.login_method{
	float: left; 
	font-size:18px; 
	padding-bottom: 20px;}

.login_user{
	background: url(../img/login_user.jpg) no-repeat;
	 background-position: -1px -7px;}
.login_password{
	background: url(../img/login_password.jpg) no-repeat; 
	background-position: -1px -8px;}

.get_sms_code{
    width: 70px;
    line-height: 25px;
    height: 25;

    border: 1px solid #ccc;
    color:#000;
    position: absolute;
    right: -30px;
    top: 3px;
    cursor: pointer;
    text-align: center;
}
.get_sms_code:hover{
    background: #a78668;
    color: #fff;
}*/


/*                   右侧                        */

#bar_menu{
/*    height: 100%;
    background: #000;
    position: fixed;
    top:0px;*/
}
.right_menu{
    position: fixed;
	z-index: 90;
    top: 0;
    right: 0;
    width: 37px;
     height: 100%;
    /*opacity: 0.7;*/
}
.menuinfo{
    background: #fff;
    height: 100%;
    width: 294px;
    overflow-x: hidden;
    margin: 0 auto;
}
.right_menu dl{
    height: 100%;
    width: 335px;
    overflow: hidden;
}
.right_menu dl dt{
    width: 35px;
    height: 100%;
}
.right_menu dl dd{
    background: #000;
    width: 298px;
    height: 100%;
}
.right_menu dl dt,.right_menu dl dd{
    display: inline-block;
    float: left;
    overflow: hidden;
}
.right_menu-tab {
    position: relative;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #000;
   /*opacity: 0.7;*/
    cursor: pointer;
    z-index: 90;
}
.menu_block1{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 105px;
    background-color: #000;
}
.menu_block1 ul li,.menu_block2 ul li,.menu_block3 ul li{
    display: block;
    position: relative;
    width: 35px;
    height: 35px;
    /* opacity: 0.7; */
    cursor: pointer;
    z-index: 9;
    vertical-align: top;
    padding-bottom: 1px;
	/*overflow: hidden;*/
}

.menu_block3 ul li.kefu{
    width:40px;
    height:45px;
    margin-bottom:10px;
}
.menu_block2 ul li a{
    display: block;
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.menu_block2 ul li ,.menu_block3 ul li{
    background-color: #333;
    margin-bottom: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.menu_block2 ul li:hover ,.menu_block3 ul li:hover{
    background-color: #c69c6d;
}
.menu_block2{
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 0px;
    width: 35px;
    height: 234px;
}
.menu_block3{
    position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 0px;
    width: 35px;
    height: 140px;
}
.tab-map-hover {
    background-color: #ffba00;
}
.tab-feast-hover{
    background-color: #ff4546;
}
.tab-tehui-hover{
    background-color: #c90002;
}
.tab-tehui a{
	display: block;
	width: 35px;
	height: 35px;
}
.tab-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    
}
.tab-logo_map{
    background: url(../img/active_map.png) no-repeat;
}
.tab-logo_feast{
    background: url(../img/active_feast.png) no-repeat;
}
.tab-logo_tehui{
    background: url(../img/tehui.png) no-repeat;
}
.tab-logo_zichan{
    background: url(../img/share02.png) no-repeat  -140px -154px;
}
.tab-logo_zichan:hover{
    background: url(../img/share02.png) no-repeat  -141px -124px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.menu_zichan .current .tab-logo_zichan{
    background: url(../img/lux_index.png) -272px -54px no-repeat;
}
.tab-logo_like{
    background: url(../img/share02.png) no-repeat -202px -155px;
}
.tab-logo_like:hover{
    background: url(../img/share02.png) no-repeat  -203px -126px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.menu_like .current .tab-logo_like{
    background: url(../img/share02.png) no-repeat  -203px -126px;
}
.tab-logo_cart{
    background: url(../img/share02.png) no-repeat  -88px -156px;
}
.tab-logo_cart:hover{
    background: url(../img/share02.png) no-repeat  -88px -121px;
    /*background-color: #c69c6d;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tab-logo_person{
    width: 35px;
    height: 50px;
    background: url(../img/lux_index.png) -4px -321px no-repeat;
}
.tab-logo_per_leave{
    background: url(../img/lux_index.png) -59px -321px no-repeat;
}
.tab-logo_weixin{
    background: url(../img/share02.png) no-repeat -312px -155px;
}
.tab-logo_weixin:hover{
    background: url(../img/lux_index.png) -475px -52px no-repeat;
}
.tab-logo_fankui{
   background: url(../img/share02.png) no-repeat   -374px -157px;
}
.tab-logo_fankui:hover{
    background: url(../img/lux_index.png) -124px -52px no-repeat;
}
.tab-logo_top{
    background: url(../img/share02.png) no-repeat   -437px -153px;
}
.tab-logo_top:hover{
    background: url(../img/lux_index.png) -401px -52px no-repeat;
}
.tab-logo_line{
    background: url(../img/line_bg.png) 10px 9px no-repeat;
}
.tab-logo_line:hover{
    background: url(../img/line_bg.png) 10px -19px no-repeat;
}
.tab-tip {
    display: none;
    position: absolute;
    z-index: 999999;
    right: 35px;
    top: 0;
    width: 99px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #363636;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-right: none;
    font-family: "微软雅黑";
    font-size: 14px;
    /*-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);*/
}
.tab-active_map {
    width: 298px;
    height:100%;
    overflow-y: scroll;
    overflow-x: auto;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-right: none;
    font-family: "微软雅黑";
    font-size: 14px;
    -webkit-box-shadow: #a7a7a7 -5px 2px 7px;
    -moz-box-shadow: #a7a7a7 -5px 2px 7px;
    box-shadow: #a7a7a7 -5px 2px 7px;
}
.tab-active_map .active_map_box{
    position: relative;
    padding:0 15px;
    overflow-y: scroll;
    overflow-x: auto;
    zoom:1;
    height: 100%;
    text-align: center;
    color: #555555;
}
.active_map_box .active_title{
    margin-top: 8px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    width: 100%;
    position: relative;
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
}
.active_map_box .active_title b{
    cursor: pointer;
    width: 11px;
    height:11px;
    display: block;
    position: absolute;
    z-index: 9999;
    right:0;
    top: 13px;
    background: url(../img/lux_index.png) -8px -187px no-repeat;
}
.active_map_box .wrap_active_box{
    width: 100%;
    overflow: hidden;
    zoom:1;
    text-align: center;
    padding-top: 10px;
}
.active_map_box .wrap_active_box p{
    width: 100%;
    line-height: 25px;
}
.active_map_box .wrap_active_box p a{
    color: #555555;
    text-decoration: none;
}
.active_map_box .wrap_active_box .active_banner_img{
    margin-top: 8px;
    width: 265px;
    height:133px;
    border: 1px solid #e4e4e4;
}
.active_map_box .wrap_active_box .active_banner_img img{
    width: 265px;
    height:133px;
}
.right_menu-tab-tip strong{
    font-size: 18px;
    font-weight: bold;
    color: #cf0101;
}
.menu_block2 ul li.tab-cart,.menu_block2 ul li.tab-cart a{
    height:164px;
}
.menu_block2 ul li.tab-cart .current{
    background-color:#c69c6d;
}
.menu_block2 ul li.tab-cart .current .tab-logo_cart{
    background: url(../img/lux_index.png) -59px -44px no-repeat;
}
.menu_block2 ul li.tab-cart .current .right_menu-tab-txt{
    color:#fff;
}
.menu_block2 ul li.tab-cart_ed{
    height: 164px;
    background-color:#c90002;
}
.tab-cart .tab-logo {
    top: 10px;
}
.right_menu-tab-txt {
    position: absolute;
    display: block;
    left: 7px;
    top: 50px;
    width: 20px;
    height: 58px;
    line-height: 20px;
    overflow: hidden;
    padding: 0;
    color: #c69c6d;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
}
.right_menu-tab-sup {
    position: absolute;
    z-index: 999999;
    display: block;
    top: 126px;
    right: 8px;
    text-align: center;
}
.right_menu-tab-sup-bg {
    border-radius: 10px;
    background-color: #c69c6d;
}
.right_menu-tab-sup-bd {
    padding: 0 3px;
    min-width: 14px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #fff;
}
.tab-cart-border {
    position: absolute;
    top: 0;
    left: 5px;
    height: 162px;
    width: 25px;
    border: 1px solid #636363;
    border-width: 1px 0;
}
.right_menu-qrcode {
    position: absolute;
}
.right_menu-qrcode-tip {
    position: absolute;
    top: 0px;
    right:35px;
    width: 124px;
    height: 135px;
    background: #fff;
    z-index: 999999;
    cursor: default;
    border: 1px solid #e4e4e4;
    border-right: 0;
    /*-webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);*/
}

.tab-tip-arr {
    top: 10px;
    right: -8px;
    color: #fff;
}
.right_menu-arr {
    position: absolute;
    z-index: -1;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    font-family: "\5b8b\4f53";
}
.tab-map-arr {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 27px;
    color: #fff;
}
.shopping_bag_box,.may_like_box{
    width: 100%;
    overflow: hidden;
    zoom:1;
    text-align: center;
}
.shopping_bag_box .bag_img{
    width: 100%;
    height:223px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.shopping_bag_box .bag_img img{
    width: 150px;
    height: 223px;
}
.shopping_bag_box p{
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.shopping_bag_box h2{
    text-align: left;
    width: 100%;
    margin-top: 15px;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: normal;
}
ul.like_good_box{
    padding-top: 15px;
    width: 100%;
    display: inline-block;
}
ul.like_good_box li{
    display: inline;
    float: left;
    margin: 0 5px;
    width: 115px;
	height: 155px;
}
.like_good_img{
    width: 115px;
    border: 1px solid #e3e3e3;
}
.like_good_img img{
    width: 115px;
	height: 115px;
}
.like_good_text{
    width: 123px;
    line-height: 40px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #c90002;
}
.like_g_price{
    color: #555555;
}
a.shop_btn:link{
    color: #fff;
}
a.shop_btn:visited{
    color: #fff;
}
.shop_btn{
    width: 100%;
    height:35px;
    line-height: 35px;
    display: block;
    text-align: center;
    letter-spacing: 5px;
    background: url(../img/right_menu_btn_bg.png) 180px center no-repeat #c90002;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
    margin-top: 40px;
}
.youhui{
    background: url(../img/right_menu_btn_bg.png) 220px center no-repeat #ff4546;
}
.shopping_bag_box .bag_single_good{
    width: 100%;
    overflow: hidden;
    zoom:1;
    padding: 20px 0px;
    border-bottom: 1px solid #cbcbcb;
}
.bag_single_good .bag_good_img{
    float: left;
    width: 50px;
	height: 50px;
}
.bag_single_good .bag_good_img img{
    width: 50px;
	height: 50px;
}
.bag_single_good .bag_good_text{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
	width: 70px;
	text-align: left;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-family: "微软雅黑";
    font-size: 13px;
}
.bag_single_good .bag_good_text a{
    color: #363636;
}
.bag_single_good .bag_good_num{
    float: left;
    width: 28px;
	text-align: center;
    line-height: 45px;
    font-family: "微软雅黑";
    font-size: 14px;
}
.bag_single_good .bag_good_price{
    float: left;
    width: 98px;
	text-align: center;
    color: #c90002;
    line-height: 45px;
    font-family: "微软雅黑";
    font-size: 14px;
}
.bag_single_good .all_goods_num{
    float: left;
    width: 50%;
    line-height: 20px;
}
.bag_single_good .all_goods_price{
    float: right;
    width: 50%;
    line-height: 20px;
}
.zichan_box {
    position: relative;
    margin-top: 20px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background-color: #f8f8f8;
}
.zichan_box ul li {
    float: left;
    display: inline;
    width: 93px;
    overflow: hidden;
    height: auto;
    padding: 20px 0px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
    cursor: default;
}
.zichan_box ul li a{
	display:block;
}
.zbox_rightside {
    border-right: 1px solid #dadada;
}
.zichan_box ul li b {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
    clear: both;
    color: #c90002;
}
.zichan_box ul li span {
    color: #787878;
    float: none;
    clear: both;
    margin-top: 25px;
    display: block;
    width: 100%;
    text-align: center;
}
.shopping_bag_box .zichan_img{
    width: 138px;
    height: 193px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}
ul.zichan_good_box{
    width: 252px;
    display: inline-block;
}
ul.zichan_good_box li{
    display: block;
    width: 252px;
    height: 100px;
    margin-top: 20px;
}
.youhuiquan_box{
    width: 252px;
    height: 100px;
    background-color: #fd7778;
    position:relative;
}
.youhuiquan_box .you_top{
    position:absolute;
    z-index:9;
    top:0;
    left:0;
    width:268px;
    height:4px;
    display:block;
    background:url(../img/you_bg.png) repeat-x;
}
.youhuiquan_box .you_bottom{
    position:absolute;
    z-index:9;
    bottom:0;
    left:0;
    width:268px;
    height:4px;
    display:block;
    background:url(../img/you_bg.png) repeat-x;
}
.youhuiquan_box p{
    width:100%;
    height:30px;
    line-height:30px;
    font-family:"微软雅黑";
    font-size:14px;
}
.youhuiquan_box span.mar_titl{
    float:left;
    margin-left:5px;
    width:155px;
    text-align:left;
    color:#fff;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.youhuiquan_box span.youxiao{
    float:right;
    margin-right:5px;
    width:85px;
    text-align:right;
    color:#ac4446;
}
.youhuiquan_box .you_wrap{
    width:100%;
    height:60px;
    overflow:hidden;
}
.youhuiquan_box .you_wrap span.money{
    float:left;
    margin-left:5px;
    width: 98px;
    height: 60px;
    overflow: hidden;
    line-height:30px;
    text-align:left;
    display:block;
    color:#ac4446;
    font-family:"微软雅黑";
    font-size:14px;
}
.youhuiquan_box .you_wrap span.money strong{
    color:#fff;
    font-size:18px;
}
.youhuiquan_box .you_wrap span.day_time{
    float:right;
    margin-right:5px;
    width:144px;
    line-height:30px;
    text-align:right;
    display:block;
    color:#ac4446;
    font-family:"微软雅黑";
    font-size:14px;
}
.login_box{
    width: 100%;
    position: relative;
    overflow: hidden;
    zoom: 1;
    text-align: center;
}
.login_box a.close_bg{
    position: absolute;
    z-index: 999;
    width: 40px;
    height: 40px;
    display: block;
    right:0;
    top: 0;
    background: url(../img/close_bg.png) 14px 15px no-repeat;
}
.login_box .login_info_box{
    padding: 25px 40px;
}
.login_info_box .login_name_box{
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 10px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #363636;
}
.login_info_box .login_name_box span.password{
    float: left;
    line-height: 25px;
}
.login_info_box .login_name_box span.forget{
    float: right;
    line-height: 25px;
    font-family: "微软雅黑";
    font-size: 12px;
}
.login_info_box .login_name_box span.forget a{
	width: auto;
	height: auto;
    color: #c69c6d;
}
.login_info_box .name_input_box{
    width: 100%;
    height:30px;
    margin-bottom: 10px;
    position: relative;
}
.login_info_box .name_input_box input{
    width: 216px;
    height:28px;
    line-height: 28px\9;
    vertical-align: middle;
    border: 1px solid #b8b8b8;
    color: #898989;
    text-indent: 0.5em;
}
.login_info_box .name_input_box b.jianpan{
    position: absolute;
    z-index: 9999;
    width: 40px;
    height: 28px;
    right: 1px;
    top: 1px;
    background: url(../img/lux_index.png) -5px -105px no-repeat;
    cursor: pointer;
}
.login_info_box .name_input_box b.close{
    position: absolute;
    z-index: 9999;
    width: 28px;
    height: 28px;
    right: 1px;
    top: 1px;
    background: url(../img/input_close_bg.png) no-repeat;
    cursor: pointer;
}
.login_info_box a.right_login_btn{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    letter-spacing: 10px;
    background-color: #c90002;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
}
.menu_block2 ul li.tab-cart .login_info_box a.right_login_btn{
	margin-top: 5px;
    width: 100%;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    letter-spacing: 10px;
    background-color: #c90002;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
}
.login_info_box .yanzheng_box{
    width: 100%;
    height:30px;
    padding-bottom: 5px;
}
.login_info_box .yanzheng_box span.warn_code{
    float: left;
    width: 80px;
    height:28px;
    line-height: 28px;
    display: block;
    border: 1px solid #b8b8b8;
    color: #898989;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
}
.login_info_box .yanzheng_box span.icon{
    display: block;
    float: left;
    margin-left: 7px;
    width: 64px;
    height: 30px;
}
.login_info_box .yanzheng_box span.text{
    float: left;
    margin-left: 7px;
    display: block;
    width: 40px;
    height: 30px;
    line-height: 15px;
    color: #898989;
    font-family: "微软雅黑";
    font-size: 12px;
}
.login_info_box .msg_warn_box{
    width: 186px;
    height:18px;
    line-height: 18px;
    background: url(../img/lux_index.png) -537px -14px no-repeat;
    background-color: #f9e5e5;
    color: #363636;
    border: 1px solid #d94c4e;
    padding-left: 30px;
    margin-bottom: 8px;
    text-align: left;
    font-family: "微软雅黑";
    font-size: 12px;
    position: relative;
}
.tab-logo_kefu{
    background: url(../img/share02.png) no-repeat   -258px -125px;
}
/*购物袋弹窗*/
.pop_menu_cart{
    box-shadow: 0 0 4px #999;
    -webkit-box-shadow: 0 0 4px #999;
    -moz-box-shadow: 0 0 4px #999;
    width: 460px;
    padding: 10px 10px 15px 20px ;
    position: absolute;
    top:-60px;
    left: -490px;
    background-color: #FFF;
}
.mcar_arrow{
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/share02.png) no-repeat -248px -262px;
    top: 70px;
    right: -15px;
    z-index: 20;
}
.menu_cancelbox{
    text-align: right;
}
.menu_cancel{
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    top: 0px;
    right: 0px;
    background: url(../img/share02.png) no-repeat -217px -263px;
}
.mcar_txt{
    diaplay:block;
    width: 447px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #c9c9c9;
}
.mcar_txtx{
    padding-left: 20px;
}
.mcar_line1{
    font-size: 12px;
    font-family: 'microsoft yahei';
}
.mcar_line2{
    font-size: 12px;
}
.menu_block2 .mcar_line2 a{
    display: inline;
    color: #d63f3f;
    text-decoration: underline;
}
.menu_block2 .mcar_txt i{
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/share02.png) no-repeat -7px -254px;
}
.menu_block2 .mcar_txt div{
    float: left;
}
.mcar_stxt{
    line-height: 40px;
}
.mcar_listshadow{
    box-shadow: 0 0 4px #999;
    -webkit-box-shadow: 0 0 4px #999;
    -moz-box-shadow: 0 0 4px #999;
}

.menu_block2 .mcar_list li{
    background-color: #fff;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: auto;
    float: left;
    margin-right: 13px;
    width: 82px;
    padding: 15px 10px 15px 10px;
    text-align: center;
    border-bottom: 1px solid #c9c9c9;
    z-index: 0;
}
.menu_block2 .mcar_list li:hover{
    background: #fff
}
.menu_block2 .mcar_list li img{
    margin-bottom: 22px;
}
.menu_block2 .mcar_list li a{
    display: inline;
}
.menu_block2 .mcar_list span{
    color: #c8a985;
}

.menu_block2 .menu_cartbox {
    position: relative;
}
.menu_block2 .bubble i{
    display: inline-block;
    position: absolute;
    width: 4px;
    height:15px;
    top: 0;
}
.menu_block2 .bubble{
    width: auto;
    text-align: center;
    line-height: 15px;
    height:15px;
    position: absolute;
    top: -8px;
    right: 2px;
    color: #fff;
    background: url(../img/bubblem.png) repeat-x;
}
.menu_block2 .bubble .bubblel{
    left: -4px;
    background: url(../img/bubblel.png) no-repeat;
}
.menu_block2 .bubble .bubbler{
    right: -4px;
    background: url(../img/bubbler.png) no-repeat;
}
.mcar_listshadow img{
    width: 80px;
}

