img {
  border: none;
  vertical-align: middle; }

a {
  color: #000; }

.mainx_main {
  width: 1210px;
  margin: 0 auto;
  margin-bottom: 50px; }
  .mainx_main .brandship_title {
    margin-top: 40px;
    margin-bottom: 28px; }
  .mainx_main .brandship_list {
    overflow: hidden; }
  .mainx_main .brandship_list li {
    float: left;
    position: relative;
    margin-right: 8px; }
  .mainx_main .brandship_list li img {
    display: block; }

.brandship_list .bgpic {
  width: 234px;
  height: 329px; }

.brandship_list .brandship_tbox {
  position: absolute;
  bottom: 1px;
  left: 30px;
  width: 174px;
  height: 154px;
  overflow: hidden;
  z-index: 1; }

.brandship_tbox .brand_hide {
  background: #fff;
  width: 106px;
  height: 154px;
  position: absolute;
  top: 100px;
  padding: 0 34px 0 34px; }

.brand_hide .brandlogopic {
  width: 60px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 3px; }
.brand_hide .enbrand {
  font-size: 14px;
  text-align: center;
  color: #000; }
.brand_hide .chnbrand {
  font-size: 14px;
  text-align: center;
  color: #000; }
.brand_hide .splitline {
  height: 30px;
  line-height: 30px;
  text-align: center; }
.brand_hide .splitline .blackbar {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  margin-left: 43px; }

.mainx_main .hotstore_title {
  overflow: hidden; }

.hotstore_title img {
  float: left; }
.hotstore_title .hotarrowbtn {
  float: right;
  padding-top: 23px;
  padding-right: 15px; }

.hotstore_title .hotarrowbtn span {
  display: inline-block;
  width: 8px;
  height: 15px; }

.hotarrowbtn .hot_pre {
  background: url(../img/share02.png) no-repeat -160px -384px; }
.hotarrowbtn .hot_next {
  background: url(../img/share02.png) no-repeat -180px -384px;
  margin-left: 20px; }

.mainx_main .hotflag {
  height: 180px;
  width: 100%;
  position: relative;
  overflow: hidden; }

.hotflag .hotflagbox {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0; }
.hotflag .hotflagbox li {
  float: left;
  width: 1210px; }

.hotflagbox .hotflagson {
  position: relative;
  float: left;
  width: 107px;
  height: 55px;
  padding: 14px 29px;
  border: 1px solid #dfdfdf;
  margin-right: 6px;
  margin-bottom: 7px; }

.hotflagson img {
  width: 107px;
  height: 54px; }

.hotflagbox .hotflagson .hotmiddle {
  position: absolute;
  left: 29px;
  top: 14px;
  opacity: 0;
  width: 107px;
  height: 42px;
  padding-top: 12px;
  background: #fff; }

.hotmiddle .brandchnname {
  font-size: 18px;
  text-align: center; }
.hotmiddle .blacksline {
  text-align: center;
  margin-top: 5px; }
.hotmiddle .blacksline span {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  margin-left: 43px; }
.hotmiddle :hover {
  color: #c8a985; }

.hotflagbox .hotflagson img {
  display: block; }

.hotflagbox .hotflagson .topline {
  width: 0;
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  background: #000; }
.hotflagbox .hotflagson .rightline {
  width: 1px;
  height: 0;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background: #000; }
.hotflagbox .hotflagson .bottomline {
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -1px;
  right: 0;
  background: #000; }
.hotflagbox .hotflagson .leftline {
  width: 1px;
  height: 0;
  position: absolute;
  top: -1px;
  left: -1px;
  background: #000; }

.storesame_link {
  overflow: hidden;
  margin-bottom: 15px; }
  .storesame_link li {
    float: left;
    width: 398px;
    height: 30px;
    background: #999;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin-right: 8px; }

.storesame {
  overflow: hidden;
  width: 100%;
  height: 517px;
  position: relative; }
  .storesame .storesame_box {
    position: absolute;
    left: 0;
    width: 9999px; }
    .storesame .storesame_box li {
      overflow: hidden;
      float: left; }
      .storesame .storesame_box li .storesameb_left {
        float: left; }
      .storesame .storesame_box li .storesameb_right {
        float: left;
        margin-left: 9px; }
        .storesame .storesame_box li .storesameb_right .storesameb_top {
          overflow: hidden;
          margin-bottom: 8px; }
          .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top1 {
            width: 222px;
            height: 248px;
            text-align: center;
            border: solid 1px #ccc;
            overflow: hidden;
            float: left; }
            .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top1 .storesametoptxt {
              left: 0;
              font-size: 13px;
              color: #666;
              display: inline-block;
              position: relative; }
              .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top1 .storesametoptxt .enbrand {
                color: #000; }
            .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top1 .storesametoppic {
              text-align: center;
              position: relative;
              right: 0; }
          .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top2 {
            width: 367px;
            height: 248px;
            float: left;
            margin-right: 7px;
            overflow: hidden;
            border: solid 1px #ccc;
            text-align: center; }
            .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top2 .storesametoptxt {
              font-size: 13px;
              margin-top: 20px;
              margin-left: 70px;
              color: #666;
              display: inline-block;
              position: relative; }
              .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top2 .storesametoptxt .enbrand {
                color: #000; }
            .storesame .storesame_box li .storesameb_right .storesameb_top .storesame_top2 .storesametoppic {
              float: left;
              position: relative; }

.storesameb_bottom .storesamebottom1 {
  margin-right: 7px;
  border: 1px solid #ccc;
  float: left;
  width: 271px;
  height: 255px;
  overflow: hidden; }

.storesamebottom1 .storesametoptxt {
  text-align: center;
  position: relative; }

.storesamebottom1 .storesametoppic {
  text-align: center;
  position: relative; }

.shopcenter {
  width: 100%;
  overflow: hidden; }
  .shopcenter li {
    width: 234px;
    height: 50px;
    float: left;
    overflow: hidden;
    position: relative;
    margin-right: 8px; }
    .shopcenter li .shopcenterbox {
      position: absolute;
      top: 0;
      left: 0;
      width: 234px;
      height: 100px; }
      .shopcenter li .shopcenterbox .topbox {
        width: 234px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #999;
        font-size: 14px;
        color: #fff; }
      .shopcenter li .shopcenterbox .bottombox {
        width: 234px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #333;
        font-size: 14px;
        color: #fff;
        padding: 5px; }
        .shopcenter li .shopcenterbox .bottombox .border {
          border: solid 1px #fff;
          width: 223px;
          height: 40px;
          text-align: center;
          line-height: 40px; }

.goodstitle {
  width: 100%;
  overflow: hidden; }
  .goodstitle .txt {
    float: left; }
  .goodstitle .rightbtn {
    float: right;
    overflow: hidden;
    height: 60px;
    line-height: 60px; }
    .goodstitle .rightbtn .moretxt {
      float: left;
      font-size: 16px; }
    .goodstitle .rightbtn .moretxt:hover {
      color: #c8a985; }
    .goodstitle .rightbtn .icon {
      float: right;
      background: url(../img/share02.png) no-repeat -470px -360px;
      width: 18px;
      height: 60px;
      margin-left: 6px; }

.goods {
  overflow: hidden; }
  .goods .goods1 {
    float: left;
    width: 220px;
    height: 366px;
    border: 1px solid #ccc;
    padding: 0 9px;
    padding-top: 4px;
    margin-right: 8px; }
    .goods .goods1 .goodslinks {
      overflow: hidden;
      border-bottom: 1px dashed #d4d4d4;
      padding-bottom: 16px; }
      .goods .goods1 .goodslinks li {
        float: left;
        line-height: 36px;
        width: 110px;
        font-size: 14px;
        color: #666;
        text-align: left; }

.goods1 .slider {
  overflow: hidden;
  width: 100%;
  height: 150px;
  margin-top: 14px; }

.slider .sliderbox li {
  width: 224px !important;
  height: 114px;
  overflow: hidden; }

.slider .sliderbox li img {
  border: 1px solid #ccc;
  float: left;
  margin-right: 2px;
  margin-bottom: 2px; }

.slider .bx-wrapper .bx-controls-direction a {
  width: 8px !important;
  height: 14px !important;
  top: 122% !important; }

.slider .bx-wrapper .bx-prev {
  left: 70px !important;
  background: url(../img/share02.png) no-repeat -239px -384px !important; }

.slider .bx-wrapper .bx-next {
  right: 70px !important;
  background: url(../img/share02.png) no-repeat -267px -384px !important; }

.goods .goods2 {
  float: left;
  width: 390px;
  height: 370px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-right: 8px; }

.goods2 img {
  display: block; }

.goods2 .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 0 !important; }

.goods2 .bx-wrapper .bx-controls-direction a {
  width: 30px !important;
  height: 60px !important;
  margin-top: -30px !important; }

.goods2 .bx-wrapper .bx-prev {
  background: url(/vendor/images/v30/share02.png) no-repeat -299px -370px;
  left: -30px; }

.goods2 .bx-wrapper .bx-next {
  background: url(/vendor/images/v30/share02.png) no-repeat -338px -370px;
  right: -30px; }

.goods3 {
  overflow: hidden;
  height: 372px; }

.goods3 .goods3pic1, .goods3 .goods3pic2 {
  float: left; }

.goods3 img {
  border: 1px solid #ccc; }

.goods3 .goods3pic1 {
  width: 276px;
  height: 189px;
  margin-right: 7px; }

.goods3 .goods3pic2 {
  width: 276px;
  height: 189px; }

.promotiontitle img {
  display: block; }

.promotionbox .promotion1 {
  overflow: hidden;
  margin-bottom: 10px; }

.promotion1 .promotion1pic, .promotion2 .promotion1pic {
  float: left; }

.promotion1pic img {
  display: block; }

.promotion1 .pro1pic1, .promotion2 .pro1pic1 {
  width: 610px;
  height: 295px; }

.promotion1 .pro1pic2, .promotion2 .pro1pic2 {
  width: 305px;
  height: 295px; }

.promotionbox .promotion2 {
  overflow: hidden;
  margin-bottom: 10px; }

.promotionbox .promotion3 {
  overflow: hidden; }

.promotion3 .proleft {
  float: left;
  overflow: hidden;
  width: 610px; }

.promotion3 .proright {
  float: left; }

.proleft .proleftpic {
  float: left;
  width: 203px;
  height: 73px; }

.proleft .proleftpic img {
  display: block; }

.proleftpic .proleftpicbox {
  width: 192px;
  height: 63px;
  border: 1px solid #ccc;
  position: relative; }

.proleftpicbox .topline {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 1px;
  background: #000; }

.proleftpicbox .rightline {
  position: absolute;
  bottom: 0;
  right: -1px;
  width: 1px;
  height: 0;
  background: #000; }

.proleftpicbox .bottomline {
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 1px;
  background: #000; }

.proleftpicbox .leftline {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 1px;
  height: 0;
  background: #000; }

/*# sourceMappingURL=main_index.css.map */
